page-login {

  .scroll-content{
    overflow-y: hidden;
  }

  .logo {
    display: block;
  }

  .eye{
    color: rgba(0, 0, 0, 0.5);
  }

  input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    outline: none;
  }

  input.ng-invalid.ng-touched {
    border-color: #ff0a2f;
  }

  input:required:valid {
    border-color: #467612;
  }

  div .error {
    margin: 4px 0 0 15px;
    color: #ff0a2f;
    font-style: italic;
    font-weight: bold;
  }

  a {
    float: right;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    margin: 20px 0 30px;
    font-size: 16px;
  }

  a:visited {
    color: #000000;
  }
}
