<ion-card>
  <img [src]="campaign.image" />
  <ion-card-content>
    <ion-card-title>
      <p class="titlecampaing"><b>{{campaign.title}}</b></p>
    </ion-card-title>
    <p>
      <b>{{campaign.description}}</b>
    </p>
  </ion-card-content>
</ion-card>

<!--<ion-row>
  <button ion-button color="primary" class="btn-campaigns" (click)="acessEnd()>
    <ion-icon name="pin">
      Endereço
    </ion-icon>
  </button>
  <button ion-button color="primary" class="btn-campaigns" (click)="acessTel()">
    <ion-icon name="call">
      Telefone
    </ion-icon>
  </button>
  <button ion-button color="primary" class="btn-campaigns" (click)="acessSite()">
    <ion-icon name="globe">
      Site
    </ion-icon>
  </button>
</ion-row>-->