<ion-content no-bounce>
  <form [formGroup]="registryForm">
    <ion-card>
      <ion-card-header>
        <h2 class="title">Dados Pessoais</h2>
      </ion-card-header>
      <ion-card-content>
        <ion-list>

          <ion-row>
            <ion-item>
              <ion-avatar>
                <img [src]="user.picture" (click)="chosseImage()">
              </ion-avatar>
              <p>Escolher Foto</p>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-col width-50>
              <ion-item>
                <ion-label>
                  <ion-icon ios="ios-person" md="md-person"></ion-icon>
                </ion-label>
                <ion-input type="text" name="name" formControlName="name" [(ngModel)]="user.name" placeholder="Primeiro Nome"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col width-50>
              <ion-item>
                <ion-label>

                </ion-label>
                <ion-input type="text" name="lastName" formControlName="lastName" [(ngModel)]="user.lastName" placeholder="Sobrenome"></ion-input>
              </ion-item>
            </ion-col>
            <!--
          <ion-item *ngIf="!form.controls.name.valid && (form.controls.name.dirty || form.controls.name.touched)" color="danger">
            <div [hidden]="!form.controls.name.errors.required">
              O campo é obrigatório!
            </div>
          </ion-item>

          <ion-item *ngIf="!form.controls.lastName.valid && (form.controls.lastName.dirty || form.controls.lastName.touched)" color="danger">
            <div [hidden]="!form.controls.lastName.errors.required">
              O campo é obrigatório!
            </div>
          </ion-item>-->
          </ion-row>

          <br/>

          <ion-row>
            <div class="container">
              <label style="color: #ff0a2f"> Sexo </label>

              <label for="gender.Masculino">
                <input type="radio" id="gender.Masculino" formControlName="gender" name="gender" value="Masculino" [(ngModel)]="user.gender"> Masculino
              </label>

              <label for="gender.Feminino">
                <input type="radio" id="gender.Feminino" formControlName="gender" name="gender" value="Feminino" [(ngModel)]="user.gender"> Feminino
              </label>
            </div>
          </ion-row>

          <ion-row>
            <ion-item>
              <ion-label>
                <ion-icon ios="ios-calendar" md="md-calendar"> Data de Nascimento </ion-icon>
              </ion-label>
              <ion-datetime name="birth" formControlName="birth" displayFormat="DD/MM/YYYY" [(ngModel)]="user.birth"></ion-datetime>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item>
              <ion-label>País</ion-label>
              <ion-select name="country" formControlName="country" [(ngModel)]="user.country">
                <ion-option value="BR" selected>Brasil</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-select name="state" formControlName="state" [(ngModel)]="user.state">
                <ion-option value="Acre">Acre</ion-option>
                <ion-option value="Alagoas">Alagoas</ion-option>
                <ion-option value="Amazonas">Amazonas</ion-option>
                <ion-option value="Amapá">Amapá</ion-option>
                <ion-option value="Bahia">Bahia</ion-option>
                <ion-option value="Ceará">Ceará</ion-option>
                <ion-option value="Distrito Federal">Distrito Federal</ion-option>
                <ion-option value="Espírito Santo">Espírito Santo</ion-option>
                <ion-option value="Goiás">Goiás</ion-option>
                <ion-option value="Maranhão">Maranhão</ion-option>
                <ion-option value="Mato Grosso">Mato Grosso</ion-option>
                <ion-option value="Mato Grosso do Sul">Mato Grosso do Sul</ion-option>
                <ion-option value="Minas Gerais">Minas Gerais</ion-option>
                <ion-option value="Pará">Pará</ion-option>
                <ion-option value="Paraíba">Paraíba</ion-option>
                <ion-option value="Paraná">Paraná</ion-option>
                <ion-option value="Pernambuco">Pernambuco</ion-option>
                <ion-option value="Piauí">Piauí</ion-option>
                <ion-option value="Rio de Janeiro">Rio de Janeiro</ion-option>
                <ion-option value="Rio Grande do Norte">Rio Grande do Norte</ion-option>
                <ion-option value="Rondônia">Rondônia</ion-option>
                <ion-option value="Rio Grande do Sul">Rio Grande do Sul</ion-option>
                <ion-option value="Roraima">Roraima</ion-option>
                <ion-option value="Santa Catarina">Santa Catarina</ion-option>
                <ion-option value="Sergipe">Sergipe</ion-option>
                <ion-option value="São Paulo">São Paulo</ion-option>
                <ion-option value="Tocantins">Tocantins</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item>
              <ion-label>Município</ion-label>
              <ion-select name="city" formControlName="city" [(ngModel)]="user.city">
                <ion-option value="Anápolis" selected>Anápolis</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>

        </ion-list>
        <br/>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <h2 class="title">Dados Biológicos</h2>
        <br>
        <ion-list>
          <div class="container">
            <label style="color: #ff0a2f"> Tipo Sanguíneo </label>
            <br/>
            <label for="type.blood.A+">
              <input type="radio" id="type.blood.A+" formControlName="blood" name="blood" value="A+" [(ngModel)]="user.blood"/> A+
            </label>
            <label for="type.blood.B+">
              <input type="radio" id="type.blood.B+" formControlName="blood" name="blood" value="B+" [(ngModel)]="user.blood"/> B+
            </label>
            <label for="type.blood.A-">
              <input formControlName="blood" id="radio-3" name="blood" type="radio" value="A-" [(ngModel)]="user.blood"> A-
            </label>
            <label for="type.blood.B-">
              <input formControlName="blood" id="radio-4" name="blood" type="radio" value="B-" [(ngModel)]="user.blood"> B-
            </label>
            <br/>
            <label for="type.blood.O+">
              <input formControlName="blood" id="radio-5" name="blood" type="radio" value="O+" [(ngModel)]="user.blood"> O+
            </label>
            <label for="type.blood.AB+">
              <input formControlName="blood" id="radio-6" name="blood" type="radio" value="AB+" [(ngModel)]="user.blood"> AB+
            </label>
            <label for="type.blood.O-">
              <input formControlName="blood" id="radio-7" name="blood" type="radio" value="O-" [(ngModel)]="user.blood"> O-
            </label>
            <label for="type.blood.AB-">
              <input formControlName="blood" id="radio-8" name="blood" type="radio" value="AB-" [(ngModel)]="user.blood"> AB-
            </label>
            <label for="type.blood.undefined">
              <input formControlName="blood" id="radio-9" name="blood" type="radio" value="Não Sei" [(ngModel)]="user.blood"> Desconheço
            </label>
          </div>
        </ion-list>
        <br>
        <ion-list>
          <h2 style="color: #ff0a2f">Já é doador?</h2>
          <br>
          <div class="container">
            <ion-row>
              <div class="radio">
                <input formControlName="donator" id="radio-bl-1" name="donator" type="radio" value="Sim" [(ngModel)]="user.donator">
                <label for="radio-bl-1" class="radio-label">Sim</label>
              </div>
              <div class="radio">
                <input formControlName="donator" id="radio-bl-2" name="donator" type="radio" value="Não" [(ngModel)]="user.donator">
                <label for="radio-bl-2" class="radio-label" checked>Não</label>
              </div>
            </ion-row>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <button ion-button type="submit" (click)="registry()" [disabled]="registryForm.invalid" icon-only class="btn check">
      <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
    </button>
  </form>
</ion-content>