page-campaign {
  .text-center {
    text-align: center;
  }
  .footer-toolbar {
    text-align: center;
  }
  .btn-footer {
    text-align: center;
    padding: 0px 20px 0px 25px;
  }
  .footer-icon {
    font-size: 25px;
    color: #fff;
  }
  .logo-branca {
    width: 115px;
    height: 25px;
  }
  .icon-instagram {
    -webkit-text-fill-color: mediumvioletred;
  }
}
