page-home {

  .scroll-content{
    overflow-y: hidden;
  }

  .facebook{
    border: none;
    padding: 25px 0px;
  }

  .slider{
    background-color: #ffffff;
    padding: 0px;
  }

  .swiper-pagination-bullet{
    background-color: #ffffff;
    border: 2px solid #ff0a2f;
    height: 13px;
    width: 13px;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #ff0a2f;
  }

}
