page-home {

  .facebook{
    background-color: #3b5998;
    border: none;
    color: #ffffff;
    padding: 25px 0px;
  }

  .facebook:hover{
    background-color: #ffffff;
    border: 1px solid #3b5998;
    color: #3b5998;
  }

  .slider{
    background-color: #ffffff;
    height: 73%;
    padding: 0px;
  }

  .swiper-pagination-bullet{
    background-color: #ffffff;
    border: 2px solid #ff0a2f;
    border-radius: 50%;
    height: 13px;
    width: 13px;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #ff0a2f;
  }

}
