<ion-card>

  <ion-card-header>
    <p class="name-exame"><b>Resultado das Análises</b></p>
  </ion-card-header>
  <ion-card-content>
    <p class="result-exam"><b>Teste de HIV:</b> {{exams.hiv}}</p>
    <p class="result-exam"><b>Teste de Sifilis:</b> {{exams.sifilis}}</p>
    <p class="result-exam"><b>Teste de HPV:</b> {{exams.hpv}}</p>
    <p class="result-exam"><b>Teste de Glicose:</b> {{exams.glicose}}</p>
    <p class="result-exam"><b>Teste de Calcio:</b> {{exams.calcio}}</p>
    <p class="result-exam"><b>Teste de Proteina:</b> {{exams.proteina}}</p>
  </ion-card-content>

</ion-card>