page-transfusion {
  .text-center {
    text-align: center;
  }

  .text-white {
    color: #fff;
  }

  .text-size {
    font-size: 17px;
  }

  .icon-sub-menu {
    font-size: 32px;
  }

  .background-row {
    background-color: #ff0a2f;
  }

  .text-justify {
    text-align: justify;
  }

  .grid-row-border-col1 {
    border-top: 1px solid grey;
  }

  .grid-row-border {
    border-bottom: 1px solid gray;
  }

  .grid-col-border-right {
    border-right: 1px solid grey;
  }

  .dont-border-botton {
    border-bottom: 1px solid #fff;
  }
}
