page-doubts {

  .text-center{
      text-align: center;
  }

  .icon-sub-menu{
    font-size: 32px
  }

  .border-grid-sub-menu{
    border: 1px solid #ff0a2f;
  }

  .text-justify{
    text-align: justify;
  }

  .grid-row-border-col1{
    border-top: 1px solid black
  }

  .grid-row-border{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  .grid-col-border-right{
    border-right: 1px solid black;
  }
}
