page-informacoes {
  .text-center{
    text-align: center;
  }

  .icon-sub-menu{
    font-size: 32px
  }

  .border-grid-sub-menu{
    border: 1px solid #ff0a2f;
  }

  .text-justify{
    text-align: justify;
  }

  .grid-row-border-col1{
    border-top: 1px solid black
  }

  .grid-row-border{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  .grid-col-border-right{
    border-right: 1px solid black;
  }

  .logo-branca{
    width: 115px;
    height: 25px;
  }

  .footer-toolbar{
    text-align: center;
  }
    
  .btn-footer{
    text-align: center;
    padding: 0px 20px 0px 25px;
  }
  
  .footer-icon{
    font-size: 25px;
    color: #fff;
  }
}
