page-reset-password {

  img{
    margin: 0px auto;
    vertical-align: middle;
  }

  .logo{
    display: block;
  }

  .icon{
    display: inline-block;
    padding-left: 15px;
    vertical-align: middle;
  }

  input{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    outline: none;
  }
}
